html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(225, 225, 225, 1);
}

.header {
  text-align: center;
}
  .main-header {
    margin: 0;
    padding: 20px 10% 20px 10%;
    background-color: rgb(40, 40, 40);
    color: rgb(245, 245, 245);
    font-size: 350%;
    font-weight: 100;
  }
    .logo {
      font-size: 150%;
    }

  .sub-header-1 {
    margin: 0;
    padding: 20px 10% 20px 10%;
    font-size: 300%;
    font-weight: 100;
    background-color: rgba(0, 168, 53, 1);
    color: rgb(250, 250, 250);
  }

  .sub-header-2 {
    margin: 0;
    padding: 20px 10% 20px 10%;
    font-size: 300%;
    font-weight: 100;
    background-color: rgba(255, 51, 160, 1);
    color: rgb(30, 30, 30);
  }
    .number-one {
      color: rgb(230, 0, 34);
      font-size: 150%;
    }

  .header-points {
    margin: 0;
    padding: 10px 5% 10px 5%;
    font-size: 150%;
    font-weight: 100;
    background-color: rgb(250, 250, 250);
    color: rgb(20, 20, 20);
  }


.networking-zone {
  text-align: center;
  margin: 0;
  background-color: rgba(0, 149, 230, 1);
}
  .network-link {
    padding: 20px 10px;
    background-color: rgba(0, 149, 230, 0.95);
    color: rgba(255, 177, 51, 1);
    font-size: 200%;
    font-weight: 100;
    cursor: pointer;
    z-index: 10;
  }

.footer {
  width: 100%;
  padding: 1em 0em;
  background-color: rgba(225, 225, 225, 1);
  color: #333;
  text-align: center;
  font-size: 100%;
}
   .footer a {
        color: rgba(60, 60, 240, 0.9);
        text-decoration: none;
    }
         .footer  a:hover, footer a:focus {
            color: rgba(90, 95, 255, 1.0);
        }

/* add all ur other cool stuff here !! */
